In [117]:
import pandas as pd
resourceDf = pd.read_json("../data/resource.json") 
applicationDf = pd.read_json("../data/application.json")
paDf = pd.read_json("../data/productApplication.json")
# paDf.head(3)

In [118]:
serverResourceDf = resourceDf[
    resourceDf["type"].isin(['server','legacy-server','physical-legacy-server'])]
serverResourceDf.head(2)

,_id,name,type,parentGroups,attributes,tags,createdAt,createdBy,_class,updatedAt
0,stagedev_tokyo_5ed1e03e40bf46a0beb401b7969e44e...,wefwef001-cs1-jp2v-stgdev,server,"[{'_id': {'$oid': '61dbbf76cf5ce7538c0f5ca7'},...","{'serverSpec': 'N3.1vCPU_1GB_10GB_SSD', 'verda...",{'delete': ['test']},{'$date': {'$numberLong': '1643087064632'}},"{'_id': 'LP12558', 'name': '한우형'}",com.linecorp.laiserver.entity.Resource,NaN
1,stagedev_tokyo_7b626dfd858747dea05a7b4b30d2f66...,hello-acl001-rktp-glen-jp2v-stgdev,server,"[{'_id': {'$oid': '62e9eb02f85c8e70678cc3db'},...","{'serverSpec': 'N3.1vCPU_1GB_10GB_SSD', 'verda...","{'duplicate': ['1', '2', '3', '4', '5', '6', '...",{'$date': {'$numberLong': '1643087207997'}},"{'_id': 'LP12582', 'name': '강인배'}",com.linecorp.laiserver.v1.entity.Resource,{'$date': {'$numberLong': '1659498205832'}}

In [119]:
import json
defaultPA = json.loads(paDf[paDf["name"]=='default'].to_json())
print(defaultPA['_id']['0']['$oid'])

61d3cd987d7ab1f2dc6bab0d

In [120]:
pd.set_option('mode.chained_assignment',  None) 

applicationDf["parentGroup"] = applicationDf["parentGroup"].apply(lambda x : x['_id']['$oid'])
applicationDf["_id"] = applicationDf["_id"].apply(lambda x : x['$oid'])
serverResourceDf["parentGroups"]= serverResourceDf["parentGroups"].apply(lambda x : x[0]['_id']['$oid'])

,_id,name,type,parentGroups,attributes,tags,createdAt,createdBy,_class,updatedAt
0,stagedev_tokyo_5ed1e03e40bf46a0beb401b7969e44e...,wefwef001-cs1-jp2v-stgdev,server,61dbbf76cf5ce7538c0f5ca7,"{'serverSpec': 'N3.1vCPU_1GB_10GB_SSD', 'verda...",{'delete': ['test']},{'$date': {'$numberLong': '1643087064632'}},"{'_id': 'LP12558', 'name': '한우형'}",com.linecorp.laiserver.entity.Resource,NaN

In [121]:
applicationDf.head(1)

,_id,name,isDefaultApplication,parentGroup,members,tags,links,createdAt,createdBy,_class,defaultApplication
0,61fb36e02f92d5d1dfec5556,default,1.0,61d3cd987d7ab1f2dc6bab0d,[],{},{},{'$date': {'$numberLong': '1641269166298'}},"{'_id': 'LP12809', 'name': '오준영'}",com.linecorp.laiserver.entity.Application,NaN

In [122]:
serverResourceDf.head(1)

,_id,name,type,parentGroups,attributes,tags,createdAt,createdBy,_class,updatedAt
0,stagedev_tokyo_5ed1e03e40bf46a0beb401b7969e44e...,wefwef001-cs1-jp2v-stgdev,server,61dbbf76cf5ce7538c0f5ca7,"{'serverSpec': 'N3.1vCPU_1GB_10GB_SSD', 'verda...",{'delete': ['test']},{'$date': {'$numberLong': '1643087064632'}},"{'_id': 'LP12558', 'name': '한우형'}",com.linecorp.laiserver.entity.Resource,NaN